<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>
        body, html { margin: 0; padding: 0; }
        .wrapper {
            position: relative;
            width: {{ width }}px;
            height: {{ height }}px;
            background-image: url('{{ background }}');
            background-size: cover;
        }
        .field {
            position: absolute;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        {% for f in fields %}
        <div class="field"
             style="
                top: {{ f.y }}px;
                left: {{ f.x }}px;
                font-size: {{ f.font_size }}px;
                color: {{ f.color }};
                font-family: '{{ f.font_family }}';
                text-align: {{ f.align }};
            ">
            {{ f.value }}
        </div>
        {% endfor %}
    </div>
</body>
</html>
